<%= link_to chat_messages_path(chat_id: chat.id),
            id: chat.id,
            class: 'row wave round medium-padding',
            "data-controller": "move-chat-item",
            "data-move-chat-item-move-to-top-value": move_to_top do %>
  <%= image_tag 'profile.jpeg', class: 'circle small' %>
  <div class="max">
    <div class="row">
      <div class="max">
        <p class="bold cut-text">
          <%= chat.name %>
        </p>
      </div>
      <% if chat.last_message_timestamp.present? %>
        <p class="max small-text right-align cut-text"
           data-controller="chat-date-formatter"
           data-chat-date-formatter-timestamp-value="<%= chat.last_message_timestamp.as_json %>"
        ></p>
      <% end %>
    </div>
    <p class="no-margin cut-text">
      <% if chat.last_message.present? %>
        <%= chat.last_message %>
      <% else %>
        No messages.
      <% end %>
    </p>
  </div>
  <% if chat.has_unread_messages? %>
    <span id="<%= chat.id %>UnreadMessageCounter" class="badge circle none"><%= chat.unread_messages_count %></span>
  <% end %>
  <p class="max tooltip no-space bottom small-text">
    <%= chat.name %>
  </p>
<% end %>