<%= turbo_frame_tag 'add_chat_participant_form' do %>
  <%= form_tag(chat_participants_path(chat_id: chat_id), id: 'addUserForm', "data-controller": 'form') do %>
    <div class="<%= invalid?(form, :user_ids) %>">
      <%= select_tag 'chat[user_ids][]',
                     options_for_select(User.all.where.not(id: current_user.id).map {|it| [it.email, it.id]}, form.params.dig(:user_ids)),
                     multiple: true,
                     id: 'add_participant_user_ids',
                     "data-controller": 'slim-select',
                     "data-slim-select-selector-value": '#add_participant_user_ids',
                     "data-slim-select-placeholder-text-value": 'Select Users'
      %>
      <span style="font-weight: bolder; color: var(--error);inset-inline-start: 1.5rem; font-size: .75rem">
        <% if show_error(form, :user_ids) %>
          Select at least one user
        <% end %>
    </span>
    </div>

    <div class="row" style="margin-top: 1rem;">
      <%= button_tag "Add" %>
    </div>
  <% end %>
<% end %>