<%= turbo_frame_tag 'chat_messages' do %>
  <div id="chatMessageContainer">
    <div>
      <%= render 'settings_drawer', chat: paginated_result.data %>
      <%= render 'chats/ui/chat_images/images_drawer' %>
      <%= render 'chats/ui/participants/participants_dialog', chat_id: paginated_result.data.id %>
      <div class="row" id="<%= paginated_result.data.id %>">
        <div class="max">
          <h6 class="cut-text"><%= paginated_result.data.name %></h6>
          <p class="max tooltip no-space top">
            <%= paginated_result.data.name %>
          </p>
        </div>
        <i style="cursor:pointer;" onclick="document.getElementById('chatSettingsDrawer').show()">more_horiz</i>
      </div>
      <div class="large-divider"></div>
    </div>

    <%= turbo_stream_from [paginated_result.data.id, current_user.id] %>

    <%= render 'messages_list', paginated_result: paginated_result, user_id: current_user.id %>

    <div>
      <%= render 'form', chat_id: paginated_result.data.id, form: Chats::Ui::SendMessageValidator.new  %>
    </div>
  </div>
<% end %>