<div id="<%= message.id %>" class="grid" data-controller="message"
     data-message-scroll-value="<%= should_scroll %>"
     data-message-acknowledge-url-value="<%= chat_acknowledge_path(chat_id: message.chat_id) %>"
     data-message-acknowledge-value="<%= acknowledge %>"
>
  <% if message.user_id == user_id %>
    <%= render 'chats/ui/messages/right_message', message: message %>
  <% else %>
    <%= render 'chats/ui/messages/left_message', message: message %>
  <% end %>
</div>