<div class="s12 m12 l6"></div>
<div class="s12 m12 l6">
  <% if message.message.present? %>
    <div class="row round messageRow max right-align">
      <button class="circle messageOptions">
        <i>more_vert</i>
        <menu class="right no-wrap">
          <%= link_to 'Remove', chat_message_path(id: message.id, chat_id: message.chat_id), data: { "turbo-method": :delete } %>
        </menu>
      </button>
      <% if message.is_an_emoji? %>
        <p>
            <span style="font-size: 3rem">
              <%= Rinku.auto_link(message.message, :all, 'target="_blank"').html_safe %>
            </span>
          <span class="tooltip no-space bottom"
                data-controller="chat-date-formatter"
                data-chat-date-formatter-timestamp-value="<%= message.created_at.as_json %>"
          >
          </span>
        </p>
      <% else %>
        <div class="max right-align">
          <div class="border round surface-bright medium-padding left-align"
               style="background-color: #218aff !important; color: white !important; display: inline-block"
          >
            <p>
              <%= Rinku.auto_link(message.message, :all, 'target="_blank"').html_safe %>
            </p>
            <p class="tooltip no-space bottom"
               data-controller="chat-date-formatter"
               data-chat-date-formatter-timestamp-value="<%= message.created_at.as_json %>"
            >
            </p>
          </div>
        </div>
      <% end %>
      <%= image_tag 'profile.jpeg', class: 'circle small' %>
    </div>
  <% else %>
    <div class="row messageRow max right-align">
      <button class="circle messageOptions">
        <i>more_vert</i>
        <menu class="right no-wrap">
          <%= link_to 'Remove', chat_message_path(id: message.id, chat_id: message.chat_id), data: { "turbo-method": :delete } %>
        </menu>
      </button>
      <% if message.attachment_file.present? %>
        <% if message.attachment_file.content_type.include?('image') %>
          <div style="height: 200px;">
            <progress class="circle large"></progress>
            <%= image_tag(
                  message.attachment_file.url,
                  style: 'width: 100%; height: 100%; object-fit: contain; cursor: pointer; display: none;',
                  "data-controller": 'image-preview',
                  "data-image-preview-image-url-value": message.attachment_file.url,
                  "data-action": "click->image-preview#preview",
                  onload: "javascript: this.parentElement.querySelector('progress').remove(); this.style.display = 'initial'"
                ) %>
            <p class="tooltip no-space bottom"
               data-controller="chat-date-formatter"
               data-chat-date-formatter-timestamp-value="<%= message.created_at.as_json %>"
            >
            </p>
          </div>
        <% else %>
          <a href="<%= message.attachment_file.url %>" target="_blank" class="secondary round small-padding">
            <i style="font-size: 30px">description</i>
            <p style="margin-left: 0.5rem;"><%= message.attachment_file.filename %></p>
            <p class="tooltip no-space bottom"
               data-controller="chat-date-formatter"
               data-chat-date-formatter-timestamp-value="<%= message.created_at.as_json %>"
            >
            </p>
          </a>
        <% end %>
      <% end %>
      <%= image_tag 'profile.jpeg', class: 'circle small' %>
    </div>
  <% end %>
</div>